<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>new-book</title>
</head>
<body>
<div class="container" layout:fragment="~{main}">
<hr/>
<form class="form" method="post" th:action="@{/book/save}" th:object="${book}">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" th:for="id"></label>
        <div class="col-sm-10">
            <input class="form-control" type="hidden" th:field="*{id}">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" th:for="title">Title</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{title}" required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" th:for="author">Author</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{author.fullName}"  th:classappend="${#fields.hasErrors('author')? 'is-invalid':''}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" th:for="genre">Genre</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{genre.title}" th:classappend="${#fields.hasErrors('genre')?'is-invalid':''}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></div>
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Save">
</form>
</div>
</body>
</html>
