<hr/>
<div class="container">
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>Book</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Comments</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.title}}</td>
        <td>{{book.author?.fullName}}</td>
        <td>{{book.genre?.title}}</td>
        <td><p *ngFor="let comment of book.comments">{{comment.text}}</p></td>
        <td><a class="btn btn-info" [routerLink]="[book.id]">new comment</a></td>
        <td><a class="btn btn-danger" (click)="delete(book.id)">delete book</a></td>
        <td><a class="btn btn-light" [routerLink]="[book.id]">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <a class="btn btn-info" [routerLink]="['create']">new book</a>
</div>
